  @font-face {
    font-family: "Aurek-Besh"; 
    src: url("//db.onlinewebfonts.com/t/47be2b2cac26f996dfa1c885d7c9d53d.eot"); 
    src: url("//db.onlinewebfonts.com/t/47be2b2cac26f996dfa1c885d7c9d53d.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/47be2b2cac26f996dfa1c885d7c9d53d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/47be2b2cac26f996dfa1c885d7c9d53d.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/47be2b2cac26f996dfa1c885d7c9d53d.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/47be2b2cac26f996dfa1c885d7c9d53d.svg#Aurek-Besh") format("svg"); 
  }
.Ani1 {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: Cult;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    animation-iteration-count:infinite;
    
  }
  @keyframes Cult {
    0%   {left:80em; bottom:16em;}
    25%  {left:80em; bottom:12em ;}
    50%  {left:80em; bottom:14em;}
    75%  {left:80em; bottom:12em;}
    100% {left:80em ;bottom:16em;}
  }
  .Ani2 {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: Jedi;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    animation-iteration-count:infinite;
    
  }
  @keyframes Jedi {
    0%   {left:8%; bottom:4em;}
    25%  {left:8%; bottom:0em;}
    50%  {left:8%; bottom:2em;}
    75%  {left:8%; bottom:0em;}
    100% {left:8%; bottom:4em;}
  }

  .Ani3 {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: Stone;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    animation-iteration-count:infinite;
    
  }
  @keyframes Stone {
    0%   {left:32%; bottom:320px;}
    25%  {left:32%; bottom:280px;}
    50%  {left:32%; bottom:310px;}
    75%  {left:32%; bottom:280px;}
    100% {left:32%; bottom:320px;}
  }
  
  .Ani4 {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: Credit;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    animation-iteration-count:infinite;
    
  }
  @keyframes Credit {
    0%   {left:53%; top: 230px;}
    25%  {left:53%; top: 200px;}
    50%  {left:53%; top: 225px;}
    75%  {left:53%; top: 200px;}
    100% {left:53%; top: 230px;}
  }
  .Ani5 {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: Iron;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    animation-iteration-count:infinite;
    
  }
  @keyframes Iron {
    0%   {left:33%; top:100px;}
    25%  {left:33%; top:80px;}
    50%  {left:33%; top:90px;}
    75%  {left:33%; top:80px;}
    100% {left:33%; top:100px;}
  }

  .showup{
    animation-name: showup;
    animation-duration: 2s;
    visibility: visible;
  }

@keyframes showup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
  }
  
  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0%);
  }
}

.showup2{
  animation-name: showup;
  animation-duration: 2s;
  visibility: visible;
}
@keyframes showup2{
0% {
  opacity: 0;
  -webkit-transform: translateY(50%);
}

100% {
  opacity: 0.95;
  -webkit-transform: translateY(0%);
}
}

.showup3{
  animation-name: showup;
  animation-duration: 2s;
  visibility: visible;
}

@keyframes showup3{
0% {
  opacity: 0;
  -webkit-transform: translateY(50%);
}

100% {
  opacity: 0.95;
  -webkit-transform: translateY(0%);
}
}
.text2 {
  display: block;
  font-family:"Aurek-Besh";
  font-size:20px;
  text-transform:none;
  color:#be96f3;
  text-shadow: 0 0 0.3em #a9bfec, 0 0 0.2em black, 0 0 6em #165ff3;
}
.text3 {
  display: block;
  font-family:"Aurek-Besh";
  font-size:20px;
  text-transform:none;
  color:#f39696;
  text-shadow: 0 0 0.3em #a9bfec, 0 0 0.2em black, 0 0 6em #165ff3;
}
