@import url("https://fonts.googleapis.com/css?family=Lato:300");
.sider { 
  margin: 0px; 
  padding: 0px; 
}

#sidebar{
  float:left;
  background:#fff;
  width:275px;  
  padding:0px 0 0 30px;
  height:100em;
  border-right:1px outset;
  font-family: Lato,sans-serif;
  font-weight: bolder;

}
#sidebar h3{
  color:#262626;
  text-transform:uppercase;
  font-size:14px;
  padding:20px 0 10px 0;
  letter-spacing:1px;
  clear:both;
}
#sidebar .checklist{
  padding:0;
}
#sidebar a img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
}

.checklist ul li{ 
  font-size:14px;
  list-style:none;
  padding: 7px 0 7px 45px;
}
.checklist li span{
  float:left;
  width:11px;
  height:11px;
  margin-left:-23px;
  margin-top:4px;
  border: 1px solid #d1d3d7;
  position:relative;  
}
.checklist li a{
  color:#676a74;
  text-decoration:none; 
  -webkit-transition: all 300ms ease-out;
     -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
       -o-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
}
.checklist li a:hover{  
  color:#222;
  -webkit-transition: all 300ms ease-out;
     -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
       -o-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
}
.checklist a:hover span{  
  border-color:#a6aab3; 
}
/*------- Range Slider ------------*/
