@import url("https://fonts.googleapis.com/css?family=Lato:300");
.sider { 
  margin: 0px; 
  padding: 0px; 
}

#sidebar{
  float:left;
  width:275px;  
  padding:0px 0 0 30px;
  height:100em;
  border-right:1px outset;
  font-family: Lato,sans-serif;
  font-weight: bolder;

}
#sidebar h3{
  color:#fff;
  text-transform:uppercase;
  font-size:14px;
  padding:20px 0 10px 0;
  letter-spacing:1px;
  clear:both;
}
#sidebar .checklist{
  padding:0;
}
#sidebar a img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
}

.checklist ul li{ 
  font-size:14px;
  list-style:none;
  padding: 7px 0 7px 45px;
}
.checklist li span{
  float:left;
  width:11px;
  height:11px;
  margin-left:-23px;
  margin-top:4px;
  border: 1px solid #d1d3d7;
  position:relative;  
}
.checklist li a{
  color:#fff;
  text-decoration:none; 
  -webkit-transition: all 300ms ease-out;
     -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
       -o-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
}
.checklist li a:hover{  
  color:#E95589;
  -webkit-transition: all 300ms ease-out;
     -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
       -o-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
}
.checklist a:hover span{  
  border-color:#a6aab3; 
}
/*------- Range Slider ------------*/
.range-slider {
  display: flex;
  max-width: 90%;
  flex-flow: row wrap;
  align-items: center;
}
.range-slider label {
  color: #fff;
  font-size: 13px;
}
.range-slider .number-group {
  flex: 1 0 auto;
  text-align: center;
  height: 30px;
  font-weight: 300;
  font-size: 11px;
  color: #fff;
  margin-top: 5px;
  margin-left: 25PX;
}
.range-slider .number-group .number-input {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #E95589;
  background-color: #fff;
  border: 0;
}
.range-slider .number-group .number-input:first-of-type {
  margin-right: 7px;
}
.range-slider .number-group .number-input:last-of-type {
  margin-left: 7px;
}
.range-slider .number-group .number-input::-webkit-outer-spin-button, .range-slider .number-group .number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.range-slider .number-group .number-input:invalid, .range-slider .number-group .number-input:out-of-range {
  border: 2px solid red;
}
.range-slider .range-group {
  position: relative;
  flex: 0 0 100%;
  height: 25px;
}
.range-slider .range-group .range-input {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  -webkit-appearance: none;
  width: 100%;
  border-bottom: 0;
}
.range-slider .range-group .range-input:focus {
  outline: 0;
}
.range-slider .range-group .range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  background: #E95589;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
.range-slider .range-group .range-input::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #E95589;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.range-slider .range-group .range-input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  background: #E95589;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
.range-slider .range-group .range-input::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #E95589;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #E95589;
  cursor: pointer;
}
.range-slider .range-group .range-input::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-slider .range-group .range-input::-ms-fill-lower, .range-slider .range-group .range-input::-ms-fill-upper {
  background: #E95589;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
.range-slider .range-group .range-input::-ms-thumb {
  z-index: 2;
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #E95589;
  cursor: pointer;
}
.range-slider, .filter {
  margin-left: 10px;
  margin-bottom: 3px;
}
